html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
.somt {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #2c2c2c;
    position: relative;
}

header {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #171717),
    url('../assets/71ffb47ffd504078956bc68966b485f5.jpg');
    /* background-image: radial-gradient( rgba(42, 49, 59, 0.1), rgb(27, 27, 27) ), url(assets/71ffb47ffd504078956bc68966b485f5.jpg); */
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    /* margin-bottom: 20px; */
}

.navBar {
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
}
.menuBar {
    background-image: linear-gradient(180deg, coral 40%, rgba(255, 127, 80, 0.512), rgba(255, 127, 80, 0));
    /* background: rgba(0, 0, 0, 0.8); */
    width:25%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.menuBarUL {
    margin: 50px auto;
    padding: 0;
    text-align: end;
}
.menuBar ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuBar ul li a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: block;
    padding: 30px 50px;
    width: 100%;
    transition: all ease .4s;
}
p {
    font-family: 'Montserrat', sans-serif;
    /* line-height: 1.8rem; */

}
.menuBar ul li a:hover {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.801);
    color: coral;
    box-shadow: 0 8px 6px -6px rgba(49, 33, 26, 0.897);
    /* text-decoration: none; */
}
.logo {
    width: 50px;
}
.hide{
    display: none;
}
/* ==========h1====== */
.myHero{
    background: #2c2c2c;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), #171717),url('../assets/71ffb47ffd504078956bc68966b485f5.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 185px 0;
}
.heroContainer{
    /* border: 3px solid salmon; */
    width: 90%;
    margin: 0px auto;
}
.myName {
    width: 37%;
    /* border: 1px solid salmon; */
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 73px;
    color: white;
    position: relative;
    padding-bottom: 20px;
    /* top: 30%; */
}
.heroText1 {
    color: coral;
    font-size: 7rem;
    margin: 0;
    /* position: absolute; */
    /* top: 0; */
    /* right: -100%; */
}
.heroText2 {
    /* position: absolute; */
    font-size: 4.95rem;
    padding-top: 38px;
    margin: 0;

    /* top: 33px; */
    /* left: -100%; */
    /* z-index: 50; */
}
.heroCommon{
    width: 70%;
    color: rgb(150, 150, 150);
    font-family: 'Montserrat', sans-serif;
    /* position: absolute; */
    font-size: 1.7rem;
    margin: 0 auto;
}
.intro {
    padding-left: 50px;
}
.subHero {
    bottom: 35%;
    left: 50%;
    z-index: 50;
}
.readMoreBtn {
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 42%;
    z-index: 50;
}
.closeBtn{
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: ease all 1s;
}
.closeBtn:hover{
    background: coral;
}

/* ==========h1====== */
.hero {
    position: relative;
    /* border: 1px solid green; */
}
.justify-content-end {
    text-align: end;
}
.button2 {
    cursor: pointer;
    font-size: 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    /* width: 30%; */
    border-style: none;
    background: #171717;
    box-shadow: 4px 4px 5px #1f1f1f, -2px -2px 6px rgb(110, 110, 110);
    color: coral;
    padding: 15px;
    border-radius: 30px;
    transition: all ease .4s;
    margin: 15px auto;
}
.button2:hover {
    color: white;
    background-image: linear-gradient(-45deg, #EEB462, coral);
    box-shadow: 4px 4px 5px rgb(54, 54, 54), -2px -2px 6px#161616;
}
.myBtnMgn{
    margin-top: 80px;
}
.btnWdth2 {
    width: 55%;
}

.button2:active {
    box-shadow: none;

}
#hider{
    opacity: .5;
    padding: 10px;
    color: coral;
    border-radius: 60%;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 100;
}
main {
    /* height: 100vh; */
    /* background: #171717; */
    /* background-image: radial-gradient( rgba(42, 49, 59, 0.5), rgb(27, 27, 27) ), url(assets/maksym-zakharyak-6VBRu8jR8to-unsplash.jpg); */
    background-attachment: fixed;

    background-size: cover;
    background-repeat: no-repeat;
}
/* --------about me--- */
.aboutMe {
    height: 105vh;
    display: flex;
    flex-direction: row;
    padding: 25px 0 0 90px;
    /* border: 1px solid goldenrod; */
    margin: 0 auto;
}
.profileImage {
    width: 40%;
    /* display: flex;
    justify-content: center;
    padding: 50px 30px 50px 70px; */
}
.aboutMeText {
    width: 60%;
    padding: 73px 50px 0px 50px;
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
}
.roundIm {
    width: 37vw;
    height: 37vw;
    object-fit: cover;
}
.specialFont {
    font-size: 3rem;
    color: #ff7f50;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    padding: 10px 0;
    margin: 0;
}
.coralFont {
    color: #ff7f50;
}
.greyFont {
    color: #575757;
}
footer {
    height: 30vh;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    text-align: center;
}
.socialLinks {
    height: 80%;
    display: flex;
    justify-content: center;
}
.socialBox {
    width: 20vh;
    height: 20vh;
    /* padding: 20px; */
}
.socialLinks a i {
    margin: 0 15px;
    color: white;
    transition: ease all .6s;
}
.boxTestRelative{
    position: relative;
}
.boxTest{
    background: palevioletred;
    width: 50%;
    padding: 50px;
    border: 1px solid palevioletred;
    /* opacity:0; */
    position: absolute;
    top: 0;
    right: 25%;
}
.boxTest2 {
    height: 100vh;
}
.stacksRow{
    width: 60%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
}
.stack {
    width: 24vh;
    text-align: center;
    padding: 20px;
    margin: 5px auto;
    transition: ease all .3s;
    background: #2c2c2c;
    border: 5px solid black;
    
    /* border-radius: 50%; */
}

.stackImg {
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    margin: 0 auto;
} 
.stack h5 {
    font-size: 0.9rem;
}
.stckSect {
    height: 11vh;
}

#devStacks{
    padding: 50px 0;
    background: black;
}

/* .jstCntCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */
.aboutMeDes {
    font-size: 1.3rem;
    color: #a5a5a5;
}
.fntOrng{
    color: #cecdcd;
    font-weight: 520;
}

.myRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin: 20px auto;
    
}
.marT {
    margin: 30px;
}
.projectImg{
    width: 60%;
    padding: 20px;
}
.projectImg img{
    width: 100%;
    border-radius: 10px;

}
img {
    width: 100%;
}
.projectDesc{
    width: 40%;
    padding: 20px;
}

#devProjects{
    /* width: 85%; */
    margin: 0 auto;
    position: relative;
}

.projectBox {
    margin: 15px auto;
    position: relative;
}
.projImg {
    width: 60vh;
    height: 60vh;
    object-fit: cover;
    border-radius: 5px;
    
}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: relative; */
}
.projSumm {
    width: 60vh;
    height: 60vh;
    padding-top: 70px;
    background: #ff7f50d3;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
}

.projWindow{
    background: #000000d7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    /* width: 100vw; */
    /* height: 100vh; */

}
.projWndMrg {
    margin: 30px 70px;
}
.details1 {

    padding: 30px 50px 0px 50px;
}

@keyframes bob {
    0% {		/* note: transform's default value is none */
		transform: rotate(0deg);
    }
    25% {	
		transform: rotate(-45deg);
    }
    50% {	
		transform: rotate(0deg);
    }
    75% {	
		transform: rotate(45deg);
    }
    100% {		/* note: transform's default value is none */
		transform: rotate(0deg);
	}
}
.socialLinks a i:hover {
    color: coral;
    font-size: 4rem;
    animation: bob 1s linear 1;
}
.resLogo{
    position: relative;
}


.tooltip {
    color: rebeccapurple;
    /* position: relative;
    display: inline-block; */
    border-bottom: 1px dotted rgb(233, 33, 33);
  }
  
  .resLogo .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: coral;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transition: ease all .5s;
  }
  
  .resLogo:hover .tooltiptext {
    visibility: visible;
  }

/* =====FOR H1==== */
.trial{
    height: 50vh;
}


/* --------media Query-------- */
@media only screen and (max-width: 550px) {
    .menuBar {
        width: 50%;
    }
    h1 {
    font-size: 63px;
    }
    .heroText1 {
        font-size: 80px;

    }
    .heroText2 {
        top: 67px;

    }
    .aboutMe {
        /* height: 100vh; */
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid goldenrod; */
    }
    .profileImage {
        width: 90%;
    }
    .roundIm {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-size: cover;
        background-position-x: -51px;
        background-position-y: -152px;
    }

    .aboutMeText {
        width: 90%;
        margin: 0 auto;
    }
    .button2 {
        margin: 40px auto;
    }

}